Subsecond timestamp support

[Section 5.6 of RFC 3339](https://tools.ietf.org/html/rfc3339.html#section-5.6) describes `time-secfrac` as the syntax for partial seconds in RFC 3339 timestamps:

```
time-secfrac    = "." 1*DIGIT
```

This syntax indicates one or more digits.

We should support subsecond precision in TJSON, but need to be careful so as not to thwart content authentication efforts.

A proposal:

* Only support 3 digits of precision (milliseconds)
* Always omit `.000` if we have an exact second multiple