Converting to/from CBOR

CBOR describes a mapping for converting to/from JSON (see [RFC7049 section 4](https://tools.ietf.org/html/rfc7049#page-29)). From what I can tell, a conversion of a CBOR document to JSON and back to CBOR would be potentially lossy, as JSON is unable to retain CBOR's tags (described in [section 2.4 of RFC 7049](https://tools.ietf.org/html/rfc7049#page-14))

TJSON could be bidirectionally transcoded from CBOR, but TJSON would be able to preserve more of CBOR's types.